name: Wails build

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          {name: wifi-app, platform: linux/amd64, os: ubuntu-latest},
          {name: wifi-app, platform: windows/amd64, os: windows-latest},
          {name: wifi-app, platform: darwin/universal, os: macos-latest}
        ]
    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: snider/build@main
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          AUTO_STACK: 'false'
          STACK: 'wails2'
